DHT_node-red.json
[{"id":"603cbb2c.9acf14","type":"tab","label":"lab-3","disabled":false,"info":""},{"id":"61e70cea.44e434","type":"mqtt in","z":"603cbb2c.9acf14","name":"","topic":"3715/temp_humid","qos":"0","datatype":"auto","broker":"ae3bddf3.62109","x":90,"y":160,"wires":[["d56de30e.7d60f","3c017efa.96f0a2","13ee445e.2c34ac","ca06d427.020e28"]]},{"id":"13ee445e.2c34ac","type":"debug","z":"603cbb2c.9acf14","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":40,"wires":[]},{"id":"d0e9e3af.be1f7","type":"function","z":"603cbb2c.9acf14","name":"temperature_filter","func":"var first = msg.payload.substring(15,19);\nmsg.payload = first\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":100,"wires":[["7f415087.ed966","68107f53.a1809"]]},{"id":"87199979.79e558","type":"function","z":"603cbb2c.9acf14","name":"humid_filter","func":"var first = msg.payload.substring(32,37);\nmsg.payload = first\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["96ce4b7b.39da58","54e75a64.4357c4"]]},{"id":"68107f53.a1809","type":"ui_gauge","z":"603cbb2c.9acf14","name":"","group":"bfc263db.251c8","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":140,"wires":[]},{"id":"54e75a64.4357c4","type":"ui_gauge","z":"603cbb2c.9acf14","name":"","group":"ac224d7c.0bd4b","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":260,"wires":[]},{"id":"7f415087.ed966","type":"ui_text","z":"603cbb2c.9acf14","group":"bfc263db.251c8","order":2,"width":0,"height":0,"name":"","label":"<font size = 4>Current temperature : ","format":"{{msg.payload}}°C","layout":"row-left","x":850,"y":80,"wires":[]},{"id":"96ce4b7b.39da58","type":"ui_text","z":"603cbb2c.9acf14","group":"ac224d7c.0bd4b","order":2,"width":0,"height":0,"name":"","label":"<font size = 4>Current humidity : ","format":"{{msg.payload}}%","layout":"row-left","x":830,"y":200,"wires":[]},{"id":"d56de30e.7d60f","type":"string","z":"603cbb2c.9acf14","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":290,"y":160,"wires":[["d0e9e3af.be1f7","87199979.79e558"]]},{"id":"2ca08773.1e94c8","type":"mysql","z":"603cbb2c.9acf14","mydb":"5c04daf4.a3bba4","name":"SQL DB","x":540,"y":360,"wires":[["6c48a0f0.cd515"]]},{"id":"6c48a0f0.cd515","type":"debug","z":"603cbb2c.9acf14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":360,"wires":[]},{"id":"3c017efa.96f0a2","type":"function","z":"603cbb2c.9acf14","name":"input_Database","func":"var temp = msg.payload.substring(15,19);\n\nvar humid = msg.payload.substring(32,37);\n\nmsg.topic  = \"INSERT INTO test (temperature , humidity ) VALUES (\" + temp + \" , \" + humid + \" )\";\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":359,"wires":[["2ca08773.1e94c8"]]},{"id":"a2e93ccd.97fd7","type":"mysql","z":"603cbb2c.9acf14","mydb":"5c04daf4.a3bba4","name":"SQL DB","x":318.99653816223145,"y":480.22210693359375,"wires":[["dba81736.be8678","fccfe7b3.c136e8"]]},{"id":"dba81736.be8678","type":"JSONFilter","z":"603cbb2c.9acf14","name":"temp_filter","fields":"time,temperature","expiry":5,"x":491.43625259399414,"y":479.97620964050293,"wires":[["dceeaea.122c15"]]},{"id":"dceeaea.122c15","type":"function","z":"603cbb2c.9acf14","name":"Setup data format","func":"msg = {test:msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":698.4339256286621,"y":480.2047653198242,"wires":[["9f831a94.2b95d8"]]},{"id":"9f831a94.2b95d8","type":"change","z":"603cbb2c.9acf14","name":"Temp_Array","rules":[{"t":"set","p":"data","pt":"msg","to":"$.test.{\"x\":time, \"y\" : temperature}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":891.4339714050293,"y":479.20488929748535,"wires":[["7c2352c.17566ac"]]},{"id":"7c2352c.17566ac","type":"function","z":"603cbb2c.9acf14","name":"Setup payload","func":"series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":1074.4339408874512,"y":478.09350776672363,"wires":[["df5f37f.274c4c8"]]},{"id":"22d2c376.046f0c","type":"inject","z":"603cbb2c.9acf14","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1077.43404006958,"y":546.0935907363892,"wires":[["df5f37f.274c4c8"]]},{"id":"fccfe7b3.c136e8","type":"JSONFilter","z":"603cbb2c.9acf14","name":"humi_filter","fields":"time,humidity","expiry":5,"x":487.43395614624023,"y":623.2046127319336,"wires":[["7fb0e943.db9478"]]},{"id":"7fb0e943.db9478","type":"function","z":"603cbb2c.9acf14","name":"Setup data format","func":"msg = {test:msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":694.4316291809082,"y":623.4331684112549,"wires":[["464de78b.1f03c8"]]},{"id":"464de78b.1f03c8","type":"change","z":"603cbb2c.9acf14","name":"Humi_Array","rules":[{"t":"set","p":"data","pt":"msg","to":"$.test.{\"x\":time, \"y\" : humidity}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":887.4316749572754,"y":622.433292388916,"wires":[["a1896d31.4774b"]]},{"id":"a1896d31.4774b","type":"function","z":"603cbb2c.9acf14","name":"Setup payload","func":"series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":1070.4316444396973,"y":621.3219108581543,"wires":[["371c79e2.a75e06"]]},{"id":"78e9df3e.e162b","type":"inject","z":"603cbb2c.9acf14","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1073.4317436218262,"y":689.3219938278198,"wires":[["371c79e2.a75e06"]]},{"id":"ca06d427.020e28","type":"function","z":"603cbb2c.9acf14","name":"select","func":"msg.topic = \"SELECT * FROM test ORDER BY id DESC Limit 10\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":480,"wires":[["a2e93ccd.97fd7"]]},{"id":"df5f37f.274c4c8","type":"ui_chart","z":"603cbb2c.9acf14","name":"","group":"bfc263db.251c8","order":3,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1308.9965381622314,"y":480.22210693359375,"wires":[[]]},{"id":"371c79e2.a75e06","type":"ui_chart","z":"603cbb2c.9acf14","name":"","group":"ac224d7c.0bd4b","order":3,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1298.9965381622314,"y":620.2221069335938,"wires":[[]]},{"id":"14b4d92d.522ce7","type":"mqtt out","z":"603cbb2c.9acf14","name":"","topic":"3715/led","qos":"","retain":"","broker":"ae3bddf3.62109","x":460,"y":752,"wires":[]},{"id":"782b32ec.49293c","type":"ui_switch","z":"603cbb2c.9acf14","name":"","label":"switch","tooltip":"","group":"a8686a1a.5d9288","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":752,"wires":[["14b4d92d.522ce7"]]},{"id":"ae3bddf3.62109","type":"mqtt-broker","z":"","name":"NBIOT","broker":"127.0.0.1","port":"18883","clientid":"","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bfc263db.251c8","type":"ui_group","z":"","name":"temperture","tab":"5ca94772.d00f98","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac224d7c.0bd4b","type":"ui_group","z":"","name":"humidity","tab":"5ca94772.d00f98","order":2,"disp":true,"width":"6","collapse":false},{"id":"5c04daf4.a3bba4","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"7697","tz":""},{"id":"a8686a1a.5d9288","type":"ui_group","z":"","name":"control_led","tab":"5ca94772.d00f98","order":3,"disp":true,"width":"6","collapse":false},{"id":"5ca94772.d00f98","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":4,"disabled":false,"hidden":false}]